<nav class="navbar navbar-expand-lg navbar " style="background-color:rgba(18, 109, 71, 0.944);">
    <div class="container-fluid">
      <h1 class="navbar-brand " href="#" style="margin-right:5% ; color: white;">
        <i class="fa-book fa-solid"></i> ELearning</h1>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav text-light">
          <a class="nav-link active text-light " aria-current="page" routerLink="">Home</a>
          <a class="nav-link text-light "  routerLink="about">About</a>
          <a class="nav-link text-light "  routerLink="product">Product</a>
          <a class="nav-link text-light " routerLink="contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  